/* topnav */
#navigation {
  top: 0;
  position: fixed;
  z-index: 200;
}
.nav-burger-menu {
  background-color: #050A30;
  /* opacity: 0.8; */
  padding: 0.25rem;
}
nav {
  display: flex;
  justify-content: space-between;
}
#nav-profile {
  text-align: center;
  width: 50px;
  margin-left: .5rem;
}
#nav-profile > div {
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  #drawer-menu > div > ul { 
    display: flex;
    flex-direction: row;
    padding-right: 1.5rem;
  }
  #drawer-menu > div > ul > li > a{ 
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  #drawer-menu {
    width: 100%;
    position: absolute;
  }
  #drawer-menu > div > ul { 
    padding-left: 0.75rem;
    overflow-y: auto;
  }
  .nav-drawer {
    top: 61px;
    left: 100%;
    transition: left .3s;
    background-color: #000C66;
  }
  .nav-drawer-effect {
    left: 0%;
  }
}
.nav-burger-menu > nav > button {
  color: white;
  width: 50px;
}
.nav-burger-menu > nav > button > div{
  --tw-translate-x: 65%;
  --tw-translate-y: 50%;
}
